*{
  scroll-behavior: smooth;
}
body {
    background-image: url('https://wallpaperaccess.com/full/4334563.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}


  span {
    display: inline-block;
  }
.navbar {
    background-color:#201313;

}
.navbar-brand {
    color: #fff;
}
.navbar-collapse{
    color: #fff;
}
.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link:hover {
  color:white;
  background-color: red;
}


/*Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: red;
  color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}

  
  .show {
    display: block;}
/* Custom styles for the grid layout */
.custom-grid {
    margin-top: 20px;
}

.custom-grid p {
    font-size: 18px;
    color: #fff;
}
/* Custom styles for buttons */
.custom-button {
    margin-top: 10px;
}

.custom-button .btn {
    font-size: 16px;
    padding: 10px 20px;
}
.card {
    margin:0;
    background-color: #333;
    color: #fff;
}

.hr{
    color: #fff;
}
.text-center{
    color:#fff
}

button {
    padding: 10px 20px;
    font-size: 1rem;
}

.hidden {
    display: none;
}
.active {
    display: block;
}

.error {
    background-color: #f44336;
    color: white;
}

.tab {
    overflow: hidden;
  }
  .tab button {
    background-color:inherit;
    text-align: center;
    color:#fff;
    font-size: 125%;
    font-weight: 500;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 70px;
    transition: 0.3s;
  }
  .tab button:hover {
    background-color: red;
  }
  .tab button.active {
    background-color:red;
  }
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }



  /*Accordation*/
  .accordion {
    background-color:black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  .active, .accordion:hover {
    background-color: red;
  }
  .panel {
    padding: 0 18px;
    background-color: black;
    color:white;
    display: none;
    overflow: hidden;
  }
  /* Define the animation */
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-100px);
    }
  }



.movie-poster {
  width: 600px;
  height: 350px;
  position:sticky;
  overflow: hidden;
}

.movie-poster img {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
}

.movie-poster:hover img {
  opacity: 1;
  transform: scale(1.2);
}

/*Animation*/
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.jumping {
  width: 100px; /* Adjust image size as needed */
  position: relative;
  animation: jump 1.5s infinite;
}

@keyframes jump {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-20px); /* Adjust jump height as needed */
  }
  60% {
      transform: translateY(-10px); /* Adjust jump height as needed */
  }
}
.genre-box {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.genre-cell {
  width: 320px;
  height: 300px;
  border: 0.5px dashed red;
}

.image-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.proverka-btn{
  background-color: red;
  color:white;
  font-weight: 400;
}

.proverka-btn:hover{
  background-color: black;
  color:white;
  font-weight: 700;
}

#image1 , #image2 , #image3 {
  margin: 5px 10px;
}

#result {
  font-size: 30px;
}

/*scroll button*/
.scrollTop{
  position: fixed;
  bottom:30px;
  right:30px;
  padding: 10px 15px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  border-radius: 1px solid #fff;
  cursor: pointer;
  transition:all 0.5s ease 0s;
}
.scrollTop:hover{
  background-color: red;
}

/*Quiz*/
.correct {
  color: green;
}

.incorrect {
  color: red;
}

#quiz{
  font-size: medium;
}

#chck-btn:hover{
  background-color: red;
  color: white;
}